.postContainer
.featuredPost
  wrapped()
  display flex
  flex-wrap wrap
  justify-content space-between
  
  .title
    text-align center
    width 100%
    
  .separator
    margin-bottom 4rem
    
  .title__main
    width 100%
    text-align center
    margin-bottom 6rem

.featuredPost
  padding-top 12rem
  
  .post:nth-child(3)
  .post:nth-child(6)
  .post:nth-child(7)
    width calc(60% - .5rem)
    
  .post:nth-child(4)
  .post:nth-child(5)
  .post:nth-child(8)
    width calc(40% - .5rem)

.postContainer
  margin-top 4rem
  margin-bottom 4rem