<div class="separator"></div>

<footer>
  <p>© 2017 Disruptive Angels - All rights Reserved</p>

  <div class="social">
    <span>Follow us:</span>
    <a class="social-icons" href="https://www.facebook.com/disruptiveangels/" target="_blank">
      <img src="/assets/img/icon-facebook.svg" alt="Facebook Logo">
    </a>
    <a class="social-icons" href="https://twitter.com/DisruptiveAngel" target="_blank">
      <img src="/assets/img/icon-twitter.svg" alt="Twitter Logo">
    </a>
    <a class="social-icons" href="https://github.com/DisruptiveAngels" target="_blank">
      <img src="/assets/img/icon-github.svg" alt="Github Logo">
    </a>
    <a class="social-icons" href="https://www.instagram.com/disruptiveangels/" target="_blank">
      <img src="/assets/img/icon-instagram.svg" alt="Instagram Logo">
    </a>
  </div>
</footer>