<div class="post-share">
  <h6 class="title-tag">Compartir:</h6>
  <a class="social-icons" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
    <img src="/assets/img/icon-facebook.svg" alt="Facebook Logo">
  </a>
  <a class="social-icons" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }} @{{site.twitter_username}}" target="_blank">
    <img src="/assets/img/icon-twitter.svg" alt="Twitter Logo">
  </a>
</div>