.article
  
  p
    font-size 20px

  p
  ol
  ul
    max-width 700px
    margin 0 auto
  
  p
  li::before
    color $secondary
    font-weight 300
    letter-spacing 0
    line-height 30px
    
  p + *
  * + p
    margin-top 3rem
    
  ol
    padding 0
    list-style-type none
    
    li
      margin-bottom 1rem
      counter-increment step-counter
      position relative
    
    li::before
    p
      font-size 18px
    
    li::before
      font-weight 700
      position absolute
      top 0
      left -1rem
      content counter(step-counter)
  
  ul
    padding 0 0 0 1rem
    
    li
      color $principal
    
    p
      font-size 18px

.article-header
  position relative
  background-color $principal
  display flex
  flex-direction column
  align-items center
  justify-content center
  min-height 80vh
  text-align center
  background-size cover
  
  &:before
    content ''
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    background linear-gradient(rgba(11, 43, 67, .6) 0, rgba(10, 42, 67, 1) 100%)
  
.article-content
  wrapped()
  padding-top 4rem
  padding-bottom 4rem

.article-title
  font-family 'velino', serif
  color white
  max-width 650px
  margin-top 0
  margin-bottom 1rem
  font-size 3.5rem
  font-weight normal
  letter-spacing 0
  
.article-date
.article-readTime
  font-size 1rem
  color rgba(white, .5)
  letter-spacing .4rem
  text-transform uppercase

.article-title
.article-info
  z-index 10

.article-image
  margin-top 6rem
  margin-bottom 6rem
  border-radius .5rem
  
  img
    width 100%
    
  figcaption
    margin-top 1rem
    text-align center
    font-weight 300
    font-size 14px
    color $secondary
    letter-spacing .58px